
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared style */
 
.text-primary{
    color: #FD6E0A;
}
 .dark-2{
    color: #474747;
 }
 .btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: none;
    padding: 18px 36px;
    border-radius: 5px;

 }
 .section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818
 }
.section-description{
    font-size: 18px;
    color: #757575;
}
 /* header */
 .header{
    background-image: url('../images/developer.png'),url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left,bottom right;
 }

/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
     
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
    margin: 0 35px 0 200px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
     text-decoration: none;
     font-size: 20px;
}
/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}

.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-weight:bold ;
    font-size: 85px;
}
.banner-content{
    max-width: 580px;
}
.banner-description{
    font-size: 18px;
    color: #117, 117, 117, 1;
}
.banner-profile-pic{
    width: 580px;
}
/* main styles */

.main{
    max-width: 1140px;
}
/* about styles */
.about{
    border-radius: 10px;
}